<h1>Process Information</h1>

<dl class="process-information">
  <dt class="hostname">Hostname</dt>
  <dd class="hostname"><%= @process.hostname %></dd>

  <dt class="pid">PID</dt>
  <dd class="pid"><%= @process.pid %></dd>

  <dt class="memory-usage">Memory Usage</dt>
  <dd class="memory-usage"><%= @process.memory_usage %></dd>
</dl>
